page-login {


.select-md .select-icon {
  position: relative;
  width: 24px;
  height: 30px;
}
.select-ios .select-icon {
  position: relative;
  width: 24px;
  height: 30px;
}
.select-md {
  padding: 0px 8px 0px 16px;
}
.select-ios {
  padding: 0px 8px 0px 16px;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: unset !important ;
  -webkit-box-shadow: unset !important ;
  box-shadow: unset !important ;
}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: unset !important ;
  -webkit-box-shadow: unset !important ;
  box-shadow: unset !important ;
}

.item-md .item-input .item-input-has-focus .item-inner,
.item-md.item-input.input-has-focus.item-inner{
  border-bottom-color: unset !important ;
  -webkit-box-shadow: unset !important ;
  box-shadow: unset !important ;
}
.item-ios .item-input .item-input-has-focus .item-inner,
.item-ios.item-input.input-has-focus.item-inner{
  border-bottom-color: unset !important ;
  -webkit-box-shadow: unset !important ;
  box-shadow: unset !important ;
}
.select-md .select-icon .select-icon-inner {
  color: #12679a;
}
.select-ios .select-icon .select-icon-inner {
  color: #12679a;
}
.select-text {
  color: #258cca;
}
.item-md.item-block .item-inner {
  padding-right: 8px;
   border-bottom: unset !important
}
.item-ios.item-block .item-inner {
  padding-right: 8px;
   border-bottom: unset !important
}
ion-label.label.label-md {
  color: black;
}
.input-wrapper {
  border: 1px solid gray !important;
  border-radius: 5px;
  margin: 5px 0px;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: unset !important;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
border-bottom-color: unset !important;
-webkit-box-shadow: unset !important;
box-shadow: unset !important;
}
.item-md.item-block .item-inner {
padding-right: 8px;
border-bottom:  unset !important;
}
.item-ios.item-block .item-inner {
padding-right: 8px;
border-bottom:  unset !important;
}
.item-md.item-input.item-input-has-focus .item-inner,.item-md.item-input.input-has-focus .item-inner{
border-bottom-color: unset !important;
-webkit-box-shadow: unset !important;
box-shadow: unset !important;
}
.item-ios.item-input.item-input-has-focus .item-inner,.item-ios.item-input.input-has-focus .item-inner{
border-bottom-color: unset !important;
-webkit-box-shadow: unset !important;
box-shadow: unset !important;
}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
border-bottom-color: unset !important;
-webkit-box-shadow: unset !important;
box-shadow: unset !important;
}
.item-ios.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-ios.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner

{
border-bottom-color: unset !important;
-webkit-box-shadow: unset !important;
box-shadow: unset !important;
}
}
