
<ion-header>
  <ion-navbar>
    <ion-title>{{"Authentication Data"|translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()" [formGroup]="myform" >
       <ion-item >
         <ion-label> <ion-icon style="    color: #777777;" name="md-person"></ion-icon> </ion-label>
         <ion-input [placeholder]="old_password" formControlName="OldPassword" type="password"></ion-input>
       </ion-item>
       <div style="color:red;    text-align:center;    margin: 9px;" *ngIf="!myform.get('OldPassword').valid && myform.get('OldPassword').touched">
           {{"enter old passwword"|translate}}
       </div>
       <ion-item>
         <ion-label> <ion-icon style="    color: #777777;" name="ios-lock"></ion-icon> </ion-label>
         <ion-input [placeholder]="new_password" formControlName="NewPassword" type="password"></ion-input>
       </ion-item>
       <div style="color:red;    text-align: center;    margin: 9px;" *ngIf="!myform.get('NewPassword').valid && myform.get('NewPassword').touched">
           {{"enter new password"|translate}}
       </div>
       <ion-item>
        <ion-label> <ion-icon style="    color: #777777;" name="ios-lock"></ion-icon> </ion-label>
        <ion-input [placeholder]="confirm_password" formControlName="ConfirmPassword" type="password"></ion-input>
      </ion-item>
      <div style="color:red;    text-align: center;    margin: 9px;" *ngIf="myform.get('ConfirmPassword').value!=myform.get('NewPassword').value">
       {{"both passwords are not equal"|translate}}
      </div>

       <button ion-button  block type="submit" color="mycolor">
       {{ "update"|translate}}
       </button>
   </form>
</ion-content>
